.button {
  background: $button-blue;
  border: none;
  color: $main-text-light;
  outline: none;
  font-weight: 300;
  font-size: $fs-large;
  padding: $small-size;
  text-decoration: none;
  line-height: 1;
}

.header .button {
  background: none;
}

.button--add {
  width: 50%;
  margin: 0 auto;
}

.button--save {
  width: 50%;
  background: #66bb6a;
  margin: 0 auto;
}

.button--remove {
  background: #e57373;
  font-size: $fs-small;
  width: 20%;
  margin-left: $large-size;
  position: relative;
  top: -5rem;
}
