.text-input {
  border: 1px solid #cacccd;
  height: 48px;
  padding: $small-size;
  font-size: $fs-large;
  font-weight: 300;
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}
