* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #212121;
  font-size: 1.6rem;
  line-height: 1.6; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.box-layout {
  background: #546e7a url("/images/bg.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .box-layout__box {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
    text-align: center;
    width: 40rem;
    padding: 4.8rem 1.6rem; }
  .box-layout__title {
    margin: 0 0 1.6rem 0;
    line-height: 1; }

.button {
  background: #2196f3;
  border: none;
  color: white;
  outline: none;
  font-weight: 300;
  font-size: 1.8rem;
  padding: 1.2rem;
  text-decoration: none;
  line-height: 1; }

.header .button {
  background: none; }

.button--add {
  width: 50%;
  margin: 0 auto; }

.button--save {
  width: 50%;
  background: #66bb6a;
  margin: 0 auto; }

.button--remove {
  background: #e57373;
  font-size: 1.2rem;
  width: 20%;
  margin-left: 3.2rem;
  position: relative;
  top: -5rem; }

.header {
  align-items: center;
  background: #333745;
  display: flex;
  justify-content: space-between;
  padding: 4.8rem 3.2rem; }
  .header__title {
    color: white;
    text-decoration: none; }
    .header__title h2 {
      margin: 0;
      font-size: 3.6rem; }

.content-container, .content-container--center {
  max-width: 90rem;
  padding: 0 1.6rem;
  margin: 0 auto; }

.content-container--center {
  margin: 0 auto;
  text-align: center; }

.page-header {
  padding: 3.2rem 1.6rem;
  font-size: 3.2rem;
  background: #eeeeee;
  margin-bottom: 1.6rem; }
  .page-header__title {
    font-weight: 300;
    margin: 0; }
    .page-header__title span {
      font-weight: bold; }

.input-group {
  padding: 0 1.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.text-input, .select, .textarea {
  border: 1px solid #cacccd;
  height: 48px;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-weight: 300; }

.textarea {
  height: 10rem; }

.form {
  display: flex;
  flex-flow: column nowrap;
  padding: 4.8rem; }
  .form > * {
    margin-bottom: 1.6rem; }
  .form__error {
    margin: 0 0 1.6rem 0;
    font-style: italic; }
