html {
  font-size: 62.5%; }

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #212121;
  font-size: 1.6rem;
  line-height: 1.6; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.box-layout {
  background: #546e7a url("/images/bg.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .box-layout__box {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
    text-align: center;
    width: 35rem;
    padding: 3.2rem 1.6rem; }
  .box-layout__title {
    margin: 0 0 1.6rem 0;
    line-height: 1; }
