// Colors

$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$light-blue: #464b5e;
$blue: #3c4251;
$bright-purple: #8357c5;
$light-grey: #9e9e9e;
$dark-grey: #212121;

// Spacing

$small-size: 1.2rem;
$medium-size: 1.6rem;
$large-size: 3.2rem;
$largest-size: 4.8rem;
